@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  font-family: "Rethink Sans", sans-serif;
  background: #ecf0f1;
  color: #020e28;
}

.container {
    max-width: 1230px !important;
}

.testimonial_wrapper {
	padding: 80px 0;
}

.testimonial_wrapper .testimonial_head p {
    color: #fd5523;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.testimonial_wrapper .testimonial_head h2 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

.testimonial_wrapper .owl-stage {
	display: flex;
	align-items: center;
}

.testimonial_wrapper .testimonial_item {
	width: 380px;
	flex-shrink: 0;
	margin-top: 50px;
}

.testimonial_wrapper .testimonial_item .testimonial_content {
	 background: #ffffff;
	 border-radius: 15px;
	 padding: 30px;
	 position: relative;
	 overflow: hidden;
}

.testimonial_wrapper .testimonial_item .testimonial_content p {
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}

.testimonial_wrapper .testimonial_item .testimonial_content .star_icon i {
	  color: #fd5523;
}

.testimonial_wrapper .testimonial_item .testimonial_content .quote_icon {
    width: 74px;
    height: 74px;
    background: #fd5523;
    border-radius: 50px 50px 0 50px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.testimonial_wrapper .testimonial_item .testimonial_sub {
    margin: 30px 0 0 30px;
}

.testimonial_wrapper .testimonial_item .testimonial_sub figure {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px dashed #fd5523;
    padding: 5px;
    position: relative;
    margin-right: 15px !important;
} 

.testimonial_wrapper .testimonial_item .testimonial_sub figure::before {
    content: "";
    position: absolute;
    top: -93%;
    left: 18%;
    width: 45px;
    height: 45px;
    background: #ffffff;
    transform: rotate(45deg);
    border-radius: 10px;
    z-index: -1;
}

.testimonial_wrapper .testimonial_item .testimonial_sub figure img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
}

.testimonial_wrapper .testimonial_item .testimonial_sub h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.testimonial_wrapper .testimonial_item .testimonial_sub span {
    display: block;
    color: #545454;
}